{% extends 'summer_fun/base.html' %}
{% load static %}
{% block content %}
<h2> Summer Fun Activity List</h2>

<!--  Search -->
<h4>Search</h4>
<form method="GET" action="{% url 'activity_list' %}">
    {{ search_form  }}
    <button type="submit">Search for Activity</button>
</form>
    <a href="{% url 'activity_list' %}">
        <button>Clear Search</button> <!--when clicked, go to link above-->
    </a>
    <br>
<br>
<a href="{% url 'add_activity' %}">Add New Activity</a>




    <h2>List of activities </h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Activity Name</th>
            <th scope="col">Activity Description</th>
            
        </tr>
    </thead>
    <tbody>
        {% if activities %}
            {% for activity in activities %}
            <div>
                <tr> 
                    <span id="activity-name{{ activity.pk }}">
                        <td><a href="{% url 'activity_details' activity_pk=activity.pk %}">{{ activity.activity_name }}</a>
                    </td></span> 
                   
                    <td>{{ activity.activity_description }}</td>
                    
                </tr>
            </div> 
        {% empty %}
            <p> No activities in system</p>
            {% endfor %}
        {% else %}
        <p>No activities match search criteria</p>
           {% endif %}
    </tbody>
</table>

    {% endblock %}

    
     
 
    