{% extends 'summer_fun/base.html' %}
{% load static %}
{% block content %}

<h1> Welcome to {{ app_name }} </h1>
<hr>

<i class="fas fa-hiking"></i>
<i class="fas fa-biking"></i>
<i class="fas fa-swimmer"></i>
<i class="fas fa-running"></i>
<i class="fas fa-paint-brush"></i>
<i class="fas fa-bullseye"></i>
<i class="fas fa-fish"></i>
<i class="fas fa-mountain"></i>
<i class="fas fa-water"></i>

  
<hr>
<div class=>
    <h3>This app is designed for a summer program, and allows students to sign up for activities.
        Student's names and email are entered; activities and their description can be added; and
        students can register for different activities. Student schedules can be edited. 
        In addition, reports can be run to find, for example, which students are registered 
        for a certain activity in a session. 
    </h3>
    <img src="static/images/dock_water.jpg" alt="dock and water">
 
</div>    

       
{% endblock %}