{% extends 'summer_fun/base.html' %}
{% load static %}
{% block content %}

    <h3>Select classes here</h3>
    {{ student }}

<!--student should be able to select an activity for each session-->

<form method="POST" action="{% url 'select_classes' student.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for session in sessions %}
        {% for field in schedule_form %} 
             {{ session }}
            {{ field }}
        {% endfor %}
                <br>   
    {% endfor %}
    <button type="submit">Save Schedule</button>
</form>


{% endblock %}

