{% extends 'summer_fun/base.html' %}
{% load static %}
{% block content %}
<h2>Welcome to Summer Fun</h2>

<!--  Search -->
<!--<h4>Search</h4>
<form method="GET" action="{% url 'student_list' %}">
    {{ search_form  }}
    <button type="submit">Search for Student</button>
</form>
    <a href="{% url 'student_list' %}">
        <button>Clear Search</button>  
    </a>
    <br>
    <br>
    <a href="{% url 'add_student' %}">Add New Student</a> -->
    
    <!-- pluralize helps with student vs studentss depending on length-->
<!--<h3>{{ student.first_name }} {{ student.last_name}}</h3>  -->


<h4>List of registered students and activities</h4>
<h5>Click on student's first name to select or edit classes</h5>

{% if student_classes %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Session One</th>
            <th scope="col">Session Two</th>
        </tr>
    </thead>
    <tbody>
       
    {% for key,value in student_classes.items %}
    
        <tr>
            <span id="student-name{{ student.pk }}">
                <td><a href="{% url 'student_details' student_pk=key.pk %}">{{ key.first_name }}</a>
            </td></span> 
            <td>{{ key.last_name }}</td>

            {% for i in value %}
                <td>{{ i }}</td>
                
            {% empty %} <!--if value is an empty list []-->
            <td> The student has not selected any classes </td>
            {% endfor %}
            
                
                   
        </tr>
     
    {% endfor %} <!-- end the for key,value....-->
    
    </tbody>
</table>
{% else %} <!--relates to if student_classes; if it is an empty dictionary-->
    <p>No students have registered yet</p>
{% endif %}

   
{% endblock %}  

 
  








